# PROBLEM
- Cari Measure of Central Tendency dari data tersebut
- Cari Measure of Variance dari data tersebut

# SOLUTION

**Import Library**

In [3]:
import pandas as pd
from IPython.display import display

*Meload data yang terlah diberikan dengan perintah read_csv*

In [12]:
covid = pd.read_csv('covid_19_indonesia_time_series_all.csv')
covid.head(3)

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,41,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,105.13%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,41,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,100.00%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN

# **Measure Of Central Tendency**

*Menampilkan tabel populasi*

In [13]:
covid[['Population']]

       Population
0        10846145
1        10846145
2       265185520
3         6074100
4        10846145
...           ...
21754     2641884
21755     5519245
21756     8217551
21757    14874889
21758   265185520

[21759 rows x 1 columns]

**Menghitung Rata-rata Dari Populasi**

In [14]:
covid['Population'].mean()

15478174.01190312

**Menghitung Median Dari Populasi**

In [15]:
covid['Population'].median()

4216171.0

**Menghitung Modus dari populasi**

In [16]:
covid['Population'].mode()

0     10846145
1    265185520
dtype: int64

# **Measure of Variance**

**Variance Dari Populasi**

In [17]:
covid['Population'].var()

2010243873726319.5

**Standar Deviasi Dari Populasi**

In [18]:
covid['Population'].std()

44835743.26055407