# A. PROBLEM
- Cari Measure of Central Tendency dari data tersebut
- Cari Measure of Variance dari data tersebut

# B. IMPORT LIBRARY

In [183]:
import pandas as pd
from IPython.display import display

*Meload data yang terlah diberikan dengan perintah read_csv*

In [184]:
dataku = pd.read_csv('covid_19_indonesia_time_series_all.csv')
dataku.head(3)

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,41,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,105.13%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,41,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,100.00%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN

# C. DATA CLEANING

In [185]:
covid = dataku.copy()

In [186]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21759 entries, 0 to 21758
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         21759 non-null  object
 1   Location ISO Code            21759 non-null  object
 2   Location                     21759 non-null  object
 3   New Cases                    21759 non-null  int64
 4   New Deaths                   21759 non-null  int64
 5   New Recovered                21759 non-null  int64
 6   New Active Cases             21759 non-null  int64
 7   Total Cases                  21759 non-null  int64
 8   Total Deaths                 21759 non-null  int64
 9   Total Recovered              21759 non-null  int64
 10  Total Active Cases           21759 non-null  int64
 11  Location Level               21759 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     21117 non-null  object
 14  Country                      21759 non-null  object
 15  Continent                    21759 non-null  object
 16  Island                       21117 non-null  object
 17  Time Zone                    21117 non-null  object
 18  Special Status               3123 non-null   object
 19  Total Regencies              21759 non-null  int64
 20  Total Cities                 21145 non-null  float64
 21  Total Districts              21759 non-null  int64
 22  Total Urban Villages         21142 non-null  float64
 23  Total Rural Villages         21117 non-null  float64
 24  Area (km2)                   21759 non-null  int64
 25  Population                   21759 non-null  int64
 26  Population Density           21759 non-null  float64
 27  Longitude                    21759 non-null  float64
 28  Latitude                     21759 non-null  float64
 29  New Cases per Million        21759 non-null  float64
 30  Total Cases per Million      21759 non-null  float64
 31  New Deaths per Million       21759 non-null  float64
 32  Total Deaths per Million     21759 non-null  float64
 33  Total Deaths per 100rb       21759 non-null  float64
 34  Case Fatality Rate           21759 non-null  object
 35  Case Recovered Rate          21759 non-null  object
 36  Growth Factor of New Cases   20572 non-null  float64
 37  Growth Factor of New Deaths  19292 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 6.3+ MB

In [187]:
covid['Date'] = pd.to_datetime(covid['Date'])

In [188]:
drop_columns = covid.drop(['City or Regency','Special Status','Growth Factor of New Cases'], axis=1, inplace=True)     

covid['Province'] = covid['Province'].fillna(covid['Province'].mode()[0])
covid['Island'] = covid['Island'].fillna(covid['Island'].mode()[0])
covid['Time Zone'] = covid['Time Zone'].fillna(covid['Time Zone'].mode()[0])

covid['Total Cities'] = covid['Total Urban Villages'].fillna(covid['Total Urban Villages'].median())
covid['Total Urban Villages'] = covid['Total Urban Villages'].fillna(covid['Total Urban Villages'].median())
covid['Total Rural Villages'] = covid['Total Rural Villages'].fillna(covid['Total Rural Villages'].median())
covid['Growth Factor of New Deaths'] = covid['Growth Factor of New Deaths'].fillna(covid['Growth Factor of New Deaths'].median())

In [189]:
cek = pd.DataFrame(covid.isnull().sum(), columns=['missing values'])
cek['% missing_values'] = (cek/len(covid)).round(2)*100
cek

                             missing values  % missing_values
Date                                      0               0.0
Location ISO Code                         0               0.0
Location                                  0               0.0
New Cases                                 0               0.0
New Deaths                                0               0.0
New Recovered                             0               0.0
New Active Cases                          0               0.0
Total Cases                               0               0.0
Total Deaths                              0               0.0
Total Recovered                           0               0.0
Total Active Cases                        0               0.0
Location Level                            0               0.0
Province                                  0               0.0
Country                                   0               0.0
Continent                                 0               0.0
Island                                    0               0.0
Time Zone                                 0               0.0
Total Regencies                           0               0.0
Total Cities                              0               0.0
Total Districts                           0               0.0
Total Urban Villages                      0               0.0
Total Rural Villages                      0               0.0
Area (km2)                                0               0.0
Population                                0               0.0
Population Density                        0               0.0
Longitude                                 0               0.0
Latitude                                  0               0.0
New Cases per Million                     0               0.0
Total Cases per Million                   0               0.0
New Deaths per Million                    0               0.0
Total Deaths per Million                  0               0.0
Total Deaths per 100rb                    0               0.0
Case Fatality Rate                        0               0.0
Case Recovered Rate                       0               0.0
Growth Factor of New Deaths               0               0.0

# D. DATA EKSPLORATION

In [190]:
covid.columns

Index(['Date', 'Location ISO Code', 'Location', 'New Cases', 'New Deaths',
       'New Recovered', 'New Active Cases', 'Total Cases', 'Total Deaths',
       'Total Recovered', 'Total Active Cases', 'Location Level', 'Province',
       'Country', 'Continent', 'Island', 'Time Zone', 'Total Regencies',
       'Total Cities', 'Total Districts', 'Total Urban Villages',
       'Total Rural Villages', 'Area (km2)', 'Population',
       'Population Density', 'Longitude', 'Latitude', 'New Cases per Million',
       'Total Cases per Million', 'New Deaths per Million',
       'Total Deaths per Million', 'Total Deaths per 100rb',
       'Case Fatality Rate', 'Case Recovered Rate',
       'Growth Factor of New Deaths'],
      dtype='object')

In [191]:
covid.Location.unique

<bound method Series.unique of 0             DKI Jakarta
1             DKI Jakarta
2               Indonesia
3                    Riau
4             DKI Jakarta
               ...
21754      Sulawesi Utara
21755      Sumatera Barat
21756    Sumatera Selatan
21757      Sumatera Utara
21758           Indonesia
Name: Location, Length: 21759, dtype: object>

In [192]:
covid['Location Level'].unique()

array(['Province', 'Country'], dtype=object)

In [193]:
indonesia = covid[covid['Location Level'] == 'Country'].sort_values(by='Date').reset_index(drop=True)
indonesia.head(3)

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Deaths
0,2020-03-02,IDN,Indonesia,2,0,0,2,2,0,0,...,113.921327,-0.789275,0.01,0.01,0.0,0.0,0.0,0.00%,0.00%,1.0
1,2020-03-03,IDN,Indonesia,0,0,0,0,2,0,0,...,113.921327,-0.789275,0.00,0.01,0.0,0.0,0.0,0.00%,0.00%,1.0
2,2020-03-04,IDN,Indonesia,0,0,0,0,2,0,0,...,113.921327,-0.789275,0.00,0.01,0.0,0.0,0.0,0.00%,0.00%,1.0

In [194]:
indonesia.describe()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Total Regencies,Total Cities,...,Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Growth Factor of New Deaths
count,642.000000,642.000000,642.000000,642.000000,6.420000e+02,642.000000,6.420000e+02,642.000000,642.0,642.0,...,642.0,6.420000e+02,6.420000e+02,6.420000e+02,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000
mean,6631.219626,224.077882,6395.140187,12.001558,1.447226e+06,44763.917445,1.301800e+06,100661.914330,416.0,8488.0,...,265185520.0,1.383400e+02,1.139213e+02,-7.892750e-01,25.005950,5457.408801,0.845031,168.802274,16.880171,1.085981
std,9556.018870,359.858505,9052.199569,4862.277290,1.515266e+06,49183.587582,1.425122e+06,119600.851504,0.0,0.0,...,0.0,2.161734e-12,1.251530e-12,1.066645e-14,36.035322,5713.983687,1.357042,185.468626,18.546702,0.661299
min,0.000000,0.000000,0.000000,-25725.000000,2.000000e+00,0.000000,0.000000e+00,2.000000,416.0,8488.0,...,265185520.0,1.383400e+02,1.139213e+02,-7.892750e-01,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000
25%,1044.250000,47.250000,889.750000,-619.750000,1.258178e+05,5733.500000,8.127300e+04,22633.750000,416.0,8488.0,...,265185520.0,1.383400e+02,1.139213e+02,-7.892750e-01,3.937500,474.450000,0.180000,21.620000,2.162500,0.840000
50%,4070.500000,112.000000,3855.000000,118.500000,9.022855e+05,25877.000000,7.319090e+05,63252.500000,416.0,8488.0,...,265185520.0,1.383400e+02,1.139213e+02,-7.892750e-01,15.350000,3402.470000,0.420000,97.585000,9.760000,1.000000
75%,6737.750000,193.750000,6976.750000,639.750000,2.088688e+06,56639.500000,1.840608e+06,123868.000000,416.0,8488.0,...,265185520.0,1.383400e+02,1.139213e+02,-7.892750e-01,25.410000,7876.332500,0.730000,213.582500,21.357500,1.170000
max,56757.000000,2069.000000,48832.000000,36726.000000,4.257243e+06,143858.000000,4.105680e+06,574135.000000,416.0,8488.0,...,265185520.0,1.383400e+02,1.139213e+02,-7.892750e-01,214.030000,16053.830000,7.800000,542.480000,54.250000,11.000000

In [195]:
province = covid[covid['Location Level']=='Province'].sort_values(by='Date').reset_index(drop=True)
province.head(3)

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Deaths
0,2020-03-01,ID-JK,DKI Jakarta,2,0,0,2,39,20,41,...,106.836118,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,105.13%,1.0
1,2020-03-02,ID-JK,DKI Jakarta,2,0,0,2,41,20,41,...,106.836118,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,100.00%,1.0
2,2020-03-02,ID-RI,Riau,1,0,0,1,2,0,3,...,101.805109,0.511648,0.16,0.33,0.0,0.00,0.00,0.00%,150.00%,1.0

In [196]:
province.describe()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Total Regencies,Total Cities,...,Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Growth Factor of New Deaths
count,21117.000000,21117.000000,21117.000000,21117.000000,21117.000000,21117.000000,21117.000000,21117.000000,21117.000000,21117.000000,...,2.111700e+04,21117.000000,21117.000000,21117.000000,21117.000000,21117.000000,21117.000000,21117.000000,21117.000000,21117.000000
mean,201.587063,6.809916,194.356679,0.420467,43853.423308,1367.888100,39467.440261,3018.094947,12.247526,256.403419,...,7.886560e+06,763.433178,113.673491,-2.790927,29.526409,6205.729824,0.852961,163.382238,16.338201,1.065123
std,665.405748,26.523848,704.120572,432.896047,110094.277374,3727.119504,103545.209805,8044.884933,7.371116,220.577924,...,1.086073e+07,2782.528073,10.006227,3.646531,70.713936,10394.994690,2.299547,255.997940,25.599817,1.504527
min,0.000000,0.000000,0.000000,-15797.000000,1.000000,0.000000,0.000000,-2306.000000,1.000000,35.000000,...,6.484070e+05,8.590000,96.910522,-8.682205,0.000000,0.020000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,0.000000,4.000000,-15.000000,1685.000000,46.000000,949.000000,172.000000,7.000000,99.000000,...,1.999539e+06,47.790000,106.109004,-6.204699,1.700000,413.320000,0.000000,10.600000,1.060000,0.740000
50%,38.000000,1.000000,29.000000,0.000000,10245.000000,261.000000,8167.000000,849.000000,11.000000,175.000000,...,4.216171e+06,103.840000,112.732941,-2.993595,8.000000,2706.830000,0.160000,73.180000,7.320000,1.000000
75%,133.000000,4.000000,126.000000,25.000000,34118.000000,949.000000,30240.000000,2398.000000,15.000000,327.000000,...,8.217551e+06,262.700000,121.201093,0.212037,26.300000,7364.180000,0.750000,195.470000,19.550000,1.000000
max,14622.000000,544.000000,20602.000000,9537.000000,864045.000000,30225.000000,849875.000000,118018.000000,29.000000,792.000000,...,4.516132e+07,16334.310000,138.696030,4.225615,1348.130000,79663.790000,63.800000,1533.980000,153.400000,134.500000

In [197]:
show = indonesia.columns[3:9]
show

Index(['New Cases', 'New Deaths', 'New Recovered', 'New Active Cases',
       'Total Cases', 'Total Deaths'],
      dtype='object')

# **Measure Of Central Tendency**

**Menghitung Rata-rata**

*Rata-rata sampel*

In [198]:
province.groupby(by = 'Location')[show].mean()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths
Location,,,,,,
Aceh,62.262561,3.348460,58.886548,0.027553,12796.954619,584.273906
Bali,180.748418,6.401899,174.050633,0.295886,37635.200949,1175.674051
Banten,208.309262,4.211931,203.766091,0.331240,42192.604396,949.226060
Bengkulu,37.813421,0.774141,37.006547,0.032733,7324.605565,160.368249
DKI Jakarta,1345.806854,21.146417,1323.728972,0.931464,324912.792835,5328.425234
Daerah Istimewa Yogyakarta,250.030303,8.393939,240.771930,0.864434,44888.545455,1362.030303
Gorontalo,20.021997,0.778342,19.238579,0.005076,4767.732657,156.531303
Jambi,47.781701,1.266453,46.497592,0.017657,8758.146067,198.324238
Jawa Barat,1106.146875,23.026563,1081.395313,1.725000,235335.967188,4145.828125
Jawa Tengah,766.039370,47.587402,716.266142,2.185827,164727.379528,8957.006299
Jawa Timur,639.147200,47.464000,590.915200,0.768000,140511.672000,10372.416000
Kalimantan Barat,67.648208,1.724756,65.842020,0.081433,11169.586319,243.358306
Kalimantan Selatan,114.073409,3.898858,110.109299,0.065253,26556.862969,882.402936
Kalimantan Tengah,73.941653,2.316045,71.473258,0.152350,16592.074554,453.367909
Kalimantan Timur,251.581876,8.662957,242.785374,0.133545,54623.804452,1637.260731
Kalimantan Utara,58.444625,1.320847,57.066775,0.057003,10747.149837,204.982085
Kepulauan Bangka Belitung,85.301794,2.373573,82.773246,0.154976,14582.158238,338.773246
Kepulauan Riau,86.491172,2.805778,83.659711,0.025682,16352.868379,467.263242
Lampung,80.536467,6.264182,73.372771,0.899514,15559.239870,1023.327391
Maluku,23.527419,0.420968,23.080645,0.025806,6423.806452,104.248387
Maluku Utara,19.644481,0.491883,19.082792,0.069805,4505.293831,120.730519
Nusa Tenggara Barat,45.387255,1.331699,43.908497,0.147059,10054.645425,344.179739
Nusa Tenggara Timur,106.194030,2.222222,103.689884,0.281924,17401.451078,372.883914
Papua,55.299517,0.898551,51.647343,2.753623,15166.597424,216.475040
Papua Barat,37.951299,0.577922,36.965909,0.407468,8483.334416,134.051948
Riau,200.973479,6.410296,193.634945,0.928237,42338.720749,1204.636505
Sulawesi Barat,20.118893,0.563518,19.545603,0.009772,4380.819218,103.304560
Sulawesi Selatan,176.152244,3.586538,172.482372,0.083333,45635.855769,845.708333
Sulawesi Tengah,76.423015,2.596434,73.748784,0.077796,12919.275527,404.455429
Sulawesi Tenggara,31.848341,0.832543,30.936809,0.078989,8425.412322,186.734597
Sulawesi Utara,56.264182,1.711507,54.401945,0.150729,13375.418152,429.418152
Sumatera Barat,145.622366,3.487844,141.983793,0.150729,33478.327391,761.008104
Sumatera Selatan,96.672581,4.953226,91.659677,0.059677,20933.914516,1042.664516
Sumatera Utara,169.400958,4.615016,164.634185,0.151757,32530.801917,967.073482

*Rata-rata populasi*

In [199]:
indonesia[show].mean()

New Cases           6.631220e+03
New Deaths          2.240779e+02
New Recovered       6.395140e+03
New Active Cases    1.200156e+01
Total Cases         1.447226e+06
Total Deaths        4.476392e+04
dtype: float64

**Menghitung Median**

*Median Sampel*

In [200]:
province.groupby(by = 'Location')[show].median()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths
Location,,,,,,
Aceh,20.0,1.0,8.0,0.0,9181.0,378.0
Bali,88.0,2.0,59.5,6.5,22512.5,605.0
Banten,72.0,2.0,64.0,4.0,22341.0,654.0
Bengkulu,11.0,0.0,12.0,0.0,4557.0,140.0
DKI Jakarta,734.0,13.0,690.0,20.5,222201.0,3690.0
Daerah Istimewa Yogyakarta,79.0,2.0,73.0,0.0,19209.0,430.0
Gorontalo,6.0,0.0,6.0,0.0,4283.0,115.0
Jambi,19.0,0.0,15.0,0.0,4289.0,63.0
Jawa Barat,506.5,6.0,456.0,11.0,113777.5,1644.5
Jawa Tengah,340.0,15.0,275.0,13.0,106919.0,4635.0
Jawa Timur,303.0,24.0,308.0,-3.0,106260.0,7751.0
Kalimantan Barat,25.0,0.0,20.5,0.0,3893.5,29.5
Kalimantan Selatan,69.0,2.0,59.0,2.0,17952.0,641.0
Kalimantan Tengah,46.0,1.0,28.0,2.0,11701.0,209.0
Kalimantan Timur,127.0,3.0,123.0,0.0,36050.0,921.0
Kalimantan Utara,14.0,0.0,7.5,1.0,6812.5,88.5
Kepulauan Bangka Belitung,30.0,0.0,27.0,0.0,4613.0,82.0
Kepulauan Riau,22.0,0.0,16.0,0.0,7831.0,192.0
Lampung,43.0,1.0,29.0,0.0,9584.0,495.0
Maluku,8.5,0.0,7.0,0.0,6290.5,82.5
Maluku Utara,6.0,0.0,2.0,1.0,3317.5,99.5
Nusa Tenggara Barat,23.0,0.0,16.0,2.0,7526.0,278.0
Nusa Tenggara Timur,21.0,0.0,14.0,0.0,5482.0,149.0
Papua,29.0,0.0,7.0,11.0,14862.0,185.0
Papua Barat,14.0,0.0,13.0,1.0,6654.0,108.5
Riau,110.0,3.0,99.0,0.0,27184.0,634.0
Sulawesi Barat,4.0,0.0,5.0,0.0,3477.5,73.5
Sulawesi Selatan,89.0,1.0,80.0,2.0,44984.0,709.5
Sulawesi Tengah,17.0,1.0,14.0,0.0,7276.0,176.0
Sulawesi Tenggara,10.0,0.0,9.0,0.0,8939.0,168.0
Sulawesi Utara,22.0,1.0,24.0,0.0,13112.0,416.0
Sumatera Barat,87.0,2.0,80.0,0.0,26737.0,593.0
Sumatera Selatan,55.0,3.0,48.0,1.0,13954.5,669.0
Sumatera Utara,84.0,2.0,80.0,1.0,20177.0,725.0

*Median Populasi*

In [201]:
indonesia[show].median()

New Cases             4070.5
New Deaths             112.0
New Recovered         3855.0
New Active Cases       118.5
Total Cases         902285.5
Total Deaths         25877.0
dtype: float64

**Menghitung Modus**

*Modus Dari Populasi*

In [206]:
indonesia[show].mode()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths
0,0,0,0,0,2,0

# **Measure of Variance**

*Variance Dari Sampel*

In [ ]:
province.groupby(by = 'Location')[show].var()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths
Location,,,,,,
Aceh,7.994762e+03,29.539093,1.192181e+04,8.733916e+03,1.612490e+08,4.258521e+05
Bali,8.138672e+04,225.771660,1.799478e+05,1.311953e+05,1.547159e+09,1.865716e+06
Banten,2.497033e+05,123.786776,3.817976e+05,3.652425e+05,2.320801e+09,8.836996e+05
Bengkulu,5.209204e+03,4.653822,4.677298e+03,2.805160e+03,7.055478e+07,2.454803e+04
DKI Jakarta,4.781929e+06,994.449667,6.131941e+06,2.492065e+06,1.015738e+11,2.302314e+07
Daerah Istimewa Yogyakarta,2.135123e+05,283.430826,2.085375e+05,1.217800e+05,3.263993e+09,3.574930e+06
Gorontalo,1.256045e+03,3.552479,1.130524e+03,1.232395e+03,1.375126e+07,2.063545e+04
Jambi,7.274968e+03,7.989982,7.842704e+03,5.645378e+03,1.141684e+08,7.717212e+04
Jawa Barat,2.994517e+06,2451.872533,3.419914e+06,1.633074e+06,6.822841e+10,2.649601e+07
Jawa Tengah,1.269396e+06,8245.337380,1.411038e+06,5.183351e+05,3.028302e+10,1.106660e+08
Jawa Timur,1.285257e+06,5590.351667,9.312092e+05,4.029421e+05,1.872581e+10,9.892111e+07
Kalimantan Barat,1.315820e+04,24.369468,1.455364e+04,6.988900e+03,2.107760e+08,1.520678e+05
Kalimantan Selatan,2.619349e+04,49.319819,2.854656e+04,2.146648e+04,5.443925e+08,5.598665e+05
Kalimantan Tengah,7.836776e+03,60.547680,1.867291e+04,1.363350e+04,2.575539e+08,2.283335e+05
Kalimantan Timur,1.475463e+05,284.478578,1.424222e+05,5.731388e+04,3.160330e+09,3.539557e+06
Kalimantan Utara,1.112337e+04,10.694605,1.699515e+04,1.382348e+04,1.550461e+08,7.601267e+04
Kepulauan Bangka Belitung,1.955107e+04,24.267078,1.608584e+04,5.943906e+03,3.549809e+08,2.582217e+05
Kepulauan Riau,2.407249e+04,49.555465,2.918724e+04,1.343892e+04,3.940176e+08,3.883303e+05
Lampung,1.559025e+04,338.223926,1.924476e+04,1.224988e+04,3.149632e+08,1.832424e+06
Maluku,1.917174e+03,1.265149,1.879082e+03,3.059172e+03,2.503023e+07,7.804481e+03
Maluku Utara,1.600708e+03,1.664975,2.470222e+03,2.252016e+03,1.618284e+07,9.190246e+03
Nusa Tenggara Barat,4.941243e+03,4.850516,5.728627e+03,2.145383e+03,8.583266e+07,6.434288e+04
Nusa Tenggara Timur,6.064638e+04,25.126615,6.494989e+04,4.516763e+04,5.382825e+08,2.233766e+05
Papua,9.240342e+03,5.313885,8.165402e+04,8.779345e+04,1.316435e+08,3.357118e+04
Papua Barat,5.008307e+03,1.561398,6.126319e+03,4.725601e+03,6.525554e+07,1.525315e+04
Riau,8.373885e+04,95.854831,7.943981e+04,3.608078e+04,2.110122e+09,2.048346e+06
Sulawesi Barat,1.514379e+03,1.606889,1.266809e+03,1.253047e+03,1.857264e+07,1.350321e+04
Sulawesi Selatan,5.638665e+04,36.759754,5.822723e+04,3.439780e+04,1.421755e+09,4.871795e+05
Sulawesi Tengah,2.819457e+04,33.429403,2.540908e+04,1.367476e+04,2.684172e+08,2.986749e+05
Sulawesi Tenggara,2.342024e+03,2.690268,2.428784e+03,2.271703e+03,4.849264e+07,3.157381e+04
Sulawesi Utara,8.416068e+03,9.293260,7.935994e+03,7.244985e+03,1.329206e+08,1.116738e+05
Sumatera Barat,3.656262e+04,22.165842,3.828350e+04,2.537796e+04,1.009568e+09,5.504365e+05
Sumatera Selatan,2.617337e+04,62.060813,2.045035e+04,1.499122e+04,4.329142e+08,1.083511e+06
Sumatera Utara,9.858063e+04,59.123550,1.391109e+05,1.119754e+05,1.252883e+09,8.204518e+05

*Variance Dari Populasi*

In [ ]:
indonesia.groupby(by = 'Location')[show].var()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths
Location,,,,,,
Indonesia,9.131750e+07,129498.143691,8.194232e+07,2.364174e+07,2.296030e+12,2.419025e+09

*Standar Deviasi Dari Sampel*

In [ ]:
province.groupby(by = 'Location')[show].std()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths
Location,,,,,,
Aceh,89.413434,5.434988,109.187020,93.455425,12698.383852,652.573468
Bali,285.283586,15.025700,424.202566,362.208886,39333.943849,1365.912119
Banten,499.703198,11.125951,617.897727,604.352956,48174.696168,940.052954
Bengkulu,72.174819,2.157272,68.390777,52.963757,8399.689255,156.678109
DKI Jakarta,2186.762238,31.534896,2476.275601,1578.627717,318706.400538,4798.243859
Daerah Istimewa Yogyakarta,462.073896,16.835404,456.659069,348.969953,57131.363953,1890.748437
Gorontalo,35.440729,1.884802,33.623271,35.105482,3708.269409,143.650442
Jambi,85.293425,2.826656,88.559041,75.135727,10684.961435,277.798709
Jawa Barat,1730.467219,49.516387,1849.300839,1277.917980,261205.677463,5147.427206
Jawa Tengah,1126.674630,90.803840,1187.871062,719.954958,174020.174171,10519.790165
Jawa Timur,1133.691565,74.768654,964.991810,634.777201,136842.287641,9945.909170
Kalimantan Barat,114.709193,4.936544,120.638457,83.599643,14518.125783,389.958749
Kalimantan Selatan,161.844039,7.022807,168.957277,146.514445,23332.219920,748.242301
Kalimantan Tengah,88.525566,7.781239,136.648864,116.762591,16048.486597,477.842509
Kalimantan Timur,384.117541,16.866493,377.388677,239.403182,56216.811446,1881.371001
Kalimantan Utara,105.467402,3.270261,130.365444,117.573309,12451.752778,275.703948
Kepulauan Bangka Belitung,139.825131,4.926163,126.829974,77.096729,18840.935939,508.155227
Kepulauan Riau,155.153123,7.039564,170.842737,115.926365,19849.877129,623.161503
Lampung,124.860919,18.390865,138.725497,110.679188,17747.201881,1353.670689
Maluku,43.785542,1.124789,43.348383,55.309784,5003.021816,88.342974
Maluku Utara,40.008843,1.290339,49.701332,47.455413,4022.790063,95.865771
Nusa Tenggara Barat,70.293973,2.202389,75.687691,46.318275,9264.591707,253.658979
Nusa Tenggara Timur,246.264856,5.012646,254.852674,212.526770,23200.915433,472.627346
Papua,96.126700,2.305187,285.751668,296.299596,11473.600232,183.224403
Papua Barat,70.769390,1.249559,78.270807,68.743008,8078.090274,123.503651
Riau,289.376659,9.790548,281.850688,189.949412,45936.066467,1431.204485
Sulawesi Barat,38.915023,1.267631,35.592267,35.398407,4309.599048,116.203301
Sulawesi Selatan,237.458739,6.062982,241.303196,185.466432,37706.161100,697.982425
Sulawesi Tengah,167.912376,5.781817,159.402273,116.939130,16383.442507,546.511530
Sulawesi Tenggara,48.394467,1.640204,49.282694,47.662382,6963.665802,177.690206
Sulawesi Utara,91.739131,3.048485,89.084196,85.117480,11529.120849,334.176251
Sumatera Barat,191.213542,4.708061,195.661689,159.304622,31773.702660,741.914069
Sumatera Selatan,161.781852,7.877869,143.004735,122.438622,20806.590764,1040.918355
Sumatera Utara,313.975526,7.689184,372.975687,334.627245,35396.083232,905.787951

*Standar Deviasi Dari Populasi*

In [ ]:
indonesia.groupby(by = 'Location')[show].std()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths
Location,,,,,,
Indonesia,9556.01887,359.858505,9052.199569,4862.27729,1.515266e+06,49183.587582

*Range Dari Sampel*

In [205]:
province.groupby(by = 'Location')[show].max() - province.groupby(by = 'Location')[show].min()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths
Location,,,,,,
Aceh,459,30,1035,1088,38415,2066
Bali,1910,269,8184,9070,114232,4045
Banten,4016,177,8040,10274,132692,2683
Bengkulu,520,25,480,653,23103,472
DKI Jakarta,14622,268,20602,21687,864006,13576
Daerah Istimewa Yogyakarta,2732,104,3377,4388,156768,5263
Gorontalo,278,16,231,321,11832,460
Jambi,567,26,788,986,29767,789
Jawa Barat,10678,467,18555,20906,707933,14736
Jawa Tengah,6660,544,7977,8755,486434,30217
Jawa Timur,8230,409,5997,8675,399460,29664
Kalimantan Barat,779,50,725,1200,41529,1059
Kalimantan Selatan,958,49,1205,1720,69922,2390
Kalimantan Tengah,482,101,2192,2162,45620,1429
Kalimantan Timur,2364,101,2584,2505,158242,5449
Kalimantan Utara,632,26,1110,1460,35883,811
Kepulauan Bangka Belitung,862,30,682,734,52289,1455
Kepulauan Riau,928,62,1378,1698,53883,1747
Lampung,717,255,1447,1621,49689,3865
Maluku,349,11,344,661,14586,261
Maluku Utara,360,11,458,683,12100,303
Nusa Tenggara Barat,503,23,618,796,27775,815
Nusa Tenggara Timur,3598,56,2999,4697,64034,1340
Papua,1748,30,5592,7210,34339,558
Papua Barat,605,13,733,1097,23376,356
Riau,2205,56,2018,2582,128823,4109
Sulawesi Barat,241,11,328,546,12352,346
Sulawesi Selatan,1359,35,1761,1808,109917,2238
Sulawesi Tengah,1566,37,975,1660,47152,1602
Sulawesi Tenggara,311,12,338,467,20159,527
Sulawesi Utara,708,28,765,1210,34714,1056
Sumatera Barat,1157,33,1608,1940,89846,2152
Sumatera Selatan,1278,64,960,1519,59936,3069
Sumatera Utara,2045,51,5280,6098,106044,2888

*Range Dari Populasi*

In [204]:
indonesia.groupby(by = 'Location')[show].max() - indonesia.groupby(by = 'Location')[show].min()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths
Location,,,,,,
Indonesia,56757,2069,48832,62451,4257241,143858